# **MODEL CHOICE USING KNN**

In [ ]:
!pip install pyresparser

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyresparser in /usr/local/lib/python3.7/dist-packages (1.0.6)
Requirement already satisfied: tqdm>=4.32.2 in /usr/local/lib/python3.7/dist-packages (from pyresparser) (4.64.0)
Requirement already satisfied: nltk>=3.4.3 in /usr/local/lib/python3.7/dist-packages (from pyresparser) (3.7)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from pyresparser) (1.3.5)
Requirement already satisfied: spacy>=2.1.4 in /usr/local/lib/python3.7/dist-packages (from pyresparser) (3.4.1)
Requirement already satisfied: thinc>=7.0.4 in /usr/local/lib/python3.7/dist-packages (from pyresparser) (8.1.0)
Requirement already satisfied: docx2txt>=0.7 in /usr/local/lib/python3.7/dist-packages (from pyresparser) (0.8)
Requirement already satisfied: srsly>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from pyresparser) (2.4.4)
Requirement already satisfied: numpy>=1.16.4 in /usr/local/lib/python3.7/dist-packages (from pyresparser) (1.21.6)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from pyresparser) (1.15.0)
Requirement already satisfied: sortedcontainers>=2.1.0 in /usr/local/lib/python3.7/dist-packages (from pyresparser) (2.4.0)
Requirement already satisfied: wasabi>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from pyresparser) (0.9.1)
Requirement already satisfied: pyrsistent>=0.15.2 in /usr/local/lib/python3.7/dist-packages (from pyresparser) (0.18.1)
Requirement already satisfied: cymem>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from pyresparser) (2.0.6)
Requirement already satisfied: preshed>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from pyresparser) (3.0.6)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.7/dist-packages (from pyresparser) (2.10)
Requirement already satisfied: pycryptodome>=3.8.2 in /usr/local/lib/python3.7/dist-packages (from pyresparser) (3.15.0)
Requirement already satisfied: urllib3>=1.25.3 in /usr/local/lib/python3.7/dist-packages (from pyresparser) (1.25.11)
Requirement already satisfied: pdfminer.six>=20181108 in /usr/local/lib/python3.7/dist-packages (from pyresparser) (20220524)
Requirement already satisfied: certifi>=2019.6.16 in /usr/local/lib/python3.7/dist-packages (from pyresparser) (2022.6.15)
Requirement already satisfied: requests>=2.22.0 in /usr/local/lib/python3.7/dist-packages (from pyresparser) (2.23.0)
Requirement already satisfied: blis>=0.2.4 in /usr/local/lib/python3.7/dist-packages (from pyresparser) (0.7.8)
Requirement already satisfied: python-dateutil>=2.8.0 in /usr/local/lib/python3.7/dist-packages (from pyresparser) (2.8.2)
Requirement already satisfied: pytz>=2019.1 in /usr/local/lib/python3.7/dist-packages (from pyresparser) (2022.1)
Requirement already satisfied: chardet>=3.0.4 in /usr/local/lib/python3.7/dist-packages (from pyresparser) (3.0.4)
Requirement already satisfied: attrs>=19.1.0 in /usr/local/lib/python3.7/dist-packages (from pyresparser) (21.4.0)
Requirement already satisfied: jsonschema>=3.0.1 in /usr/local/lib/python3.7/dist-packages (from pyresparser) (4.3.3)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0.1->pyresparser) (5.9.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0.1->pyresparser) (4.12.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0.1->pyresparser) (4.1.1)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.4.0->jsonschema>=3.0.1->pyresparser) (3.8.1)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk>=3.4.3->pyresparser) (7.1.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk>=3.4.3->pyresparser) (2022.6.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk>=3.4.3->pyresparser) (1.1.0)
Requirement already satisfied: cryptography>=36.0.0 in /usr/local/lib/python3.7/dist-packages (from pdfminer.six>=20181108->pyresparser) (37.0.4)
Requirement already satisfied: charset-normalizer>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from pdfminer.six>=20181108->pyresparser) (2.1.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography>=36.0.0->pdfminer.six>=20181108->pyresparser) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six>=20181108->pyresparser) (2.21)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from preshed>=2.0.1->pyresparser) (1.0.7)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.9 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.1.4->pyresparser) (3.0.9)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.1.4->pyresparser) (0.4.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.1.4->pyresparser) (21.3)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.1.4->pyresparser) (2.0.8)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.1.4->pyresparser) (1.0.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy>=2.1.4->pyresparser) (57.4.0)
Requirement already satisfied: pathy>=0.3.5 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.1.4->pyresparser) (0.6.2)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.10.0,>=1.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.1.4->pyresparser) (1.9.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.1.4->pyresparser) (2.11.3)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.1.4->pyresparser) (3.3.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->spacy>=2.1.4->pyresparser) (3.0.9)
Requirement already satisfied: smart-open<6.0.0,>=5.2.1 in /usr/local/lib/python3.7/dist-packages (from pathy>=0.3.5->spacy>=2.1.4->pyresparser) (5.2.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->spacy>=2.1.4->pyresparser) (2.0.1)

In [ ]:
!pip install nltk
!pip install ftfy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.7)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk) (7.1.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk) (2022.6.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk) (1.1.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk) (4.64.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting ftfy
  Downloading ftfy-6.1.1-py3-none-any.whl (53 kB)
     |████████████████████████████████| 53 kB 1.1 MB/s
Requirement already satisfied: wcwidth>=0.2.5 in /usr/local/lib/python3.7/dist-packages (from ftfy) (0.2.5)
Installing collected packages: ftfy
Successfully installed ftfy-6.1.1

In [ ]:
pip install python-docx

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting python-docx
  Downloading python-docx-0.8.11.tar.gz (5.6 MB)
     |████████████████████████████████| 5.6 MB 4.8 MB/s
Requirement already satisfied: lxml>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from python-docx) (4.2.6)
Building wheels for collected packages: python-docx
  Building wheel for python-docx (setup.py) ... done
  Created wheel for python-docx: filename=python_docx-0.8.11-py3-none-any.whl size=184507 sha256=45f2ec0882f64e6bf8acfcfb9f7166e7e101ab575d31cb599ed1df6c9f059d2d
  Stored in directory: /root/.cache/pip/wheels/f6/6f/b9/d798122a8b55b74ad30b5f52b01482169b445fbb84a11797a6
Successfully built python-docx
Installing collected packages: python-docx
Successfully installed python-docx-0.8.11

## Removing stopwords from job description

In [ ]:
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
stopw  = set(stopwords.words('english'))
df = pd.read_json('/content/sample_data/data.json')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
from pyresparser import ResumeParser
import os
from docx import Document

In [ ]:
df

,company_name,job_description,job_id,location,role,salary_estimated,url
0,Medical Supply Company,scans docs\ndata entry\nanswering phone calls\...,sj_d1ce08ee1692f0d8,"Mineola, NY 11501",data entry,None,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
1,Northwell Health,\n\nJob Description\n Job Description \nAnalyz...,job_f011fbfde1efc3e8,"Manhasset, NY 11030",Data Analyst,None,https://www.indeed.com/rc/clk?jk=f011fbfde1efc...
2,Change Healthcare,\nOverview of Position\n Provides analytical a...,job_a6087a6337230bee,"Remote in New York, NY+33 locations",Data Entry Operator,None,https://www.indeed.com/rc/clk?jk=a6087a6337230...
3,Paramount,"Paramount Global (NASDAQ: PARA, PARAA) is a le...",job_83862974e57c5994,"New York, NY 10019 (Midtown area)","Data Analyst, Retirement Programs",None,https://www.indeed.com/rc/clk?jk=83862974e57c5...
4,kraken,\n\n\nAbout Kraken\n\n\n\n As one of the large...,job_f05d87447dd5dcaf,Remote,Data Entry Clerk,Estimated $35.5K - $44.9K a year,https://www.indeed.com/rc/clk?jk=f05d87447dd5d...
...,...,...,...,...,...,...,...
145,US Social Security Administration,\n\nDuties\nOnce selected for the Customer Ser...,job_d1baea582fe236d2,"New York, NY+10 locations",Contact Representative (Customer Service Repre...,None,https://www.indeed.com/rc/clk?jk=d1baea582fe23...
146,Frederic H Weiner Inc.,weinermusic.com seeks data entry person. knowl...,job_f6cd5174d9b13c46,"Mineola, NY 11501",Data Entry Specialist,None,https://www.indeed.com/company/frederic-h-wein...
147,JATO,\n\n\nEmployment Type\n\n Full Time\n \n\n...,job_6174a3fa9721640e,Puerto Rico,Data Specialist,Estimated $47.2K - $59.8K a year,https://www.indeed.com/rc/clk?jk=6174a3fa97216...
148,Frankenmuth Mutual Insurance Co.,\nUnder direct supervision and following stand...,job_97fcd772a733a1f3,Remote in United States,CL Underwriting Support Representative I,None,https://www.indeed.com/rc/clk?jk=97fcd772a733a...
149,MBMS Medical Billing and Management Services,\nGrowing Medical Billing company looking for ...,job_696f8c102ebb4d3f,+2 locationsRemote,Data Analyst,Estimated $61.7K - $78.1K a year,https://www.indeed.com/rc/clk?jk=696f8c102ebb4...

In [ ]:
df['test_job']=df['job_description'].apply(lambda x: ' '.join([word for word in str(x).split() if len(word)>2 and word not in (stopw)]))
df['test_job']

0      scans docs data entry answering phone calls Jo...
1      Job Description Job Description Analyzes, veri...
2      Overview Position Provides analytical speciali...
3      Paramount Global (NASDAQ: PARA, PARAA) leading...
4      About Kraken one largest trusted digital asset...
                             ...
145    Duties Once selected Customer Service Represen...
146    weinermusic.com seeks data entry person. knowl...
147    Employment Type Full Time Location Country Pue...
148    Under direct supervision following standard pr...
149    Growing Medical Billing company looking highly...
Name: test_job, Length: 150, dtype: object

In [ ]:
df

,company_name,job_description,job_id,location,role,salary_estimated,url,test,test_job
0,Medical Supply Company,scans docs\ndata entry\nanswering phone calls\...,sj_d1ce08ee1692f0d8,"Mineola, NY 11501",data entry,None,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,scans docs data entry answering phone calls Jo...,scans docs data entry answering phone calls Jo...
1,Northwell Health,\n\nJob Description\n Job Description \nAnalyz...,job_f011fbfde1efc3e8,"Manhasset, NY 11030",Data Analyst,None,https://www.indeed.com/rc/clk?jk=f011fbfde1efc...,"Job Description Job Description Analyzes, veri...","Job Description Job Description Analyzes, veri..."
2,Change Healthcare,\nOverview of Position\n Provides analytical a...,job_a6087a6337230bee,"Remote in New York, NY+33 locations",Data Entry Operator,None,https://www.indeed.com/rc/clk?jk=a6087a6337230...,Overview Position Provides analytical speciali...,Overview Position Provides analytical speciali...
3,Paramount,"Paramount Global (NASDAQ: PARA, PARAA) is a le...",job_83862974e57c5994,"New York, NY 10019 (Midtown area)","Data Analyst, Retirement Programs",None,https://www.indeed.com/rc/clk?jk=83862974e57c5...,"Paramount Global (NASDAQ: PARA, PARAA) leading...","Paramount Global (NASDAQ: PARA, PARAA) leading..."
4,kraken,\n\n\nAbout Kraken\n\n\n\n As one of the large...,job_f05d87447dd5dcaf,Remote,Data Entry Clerk,Estimated $35.5K - $44.9K a year,https://www.indeed.com/rc/clk?jk=f05d87447dd5d...,About Kraken one largest trusted digital asset...,About Kraken one largest trusted digital asset...
...,...,...,...,...,...,...,...,...,...
145,US Social Security Administration,\n\nDuties\nOnce selected for the Customer Ser...,job_d1baea582fe236d2,"New York, NY+10 locations",Contact Representative (Customer Service Repre...,None,https://www.indeed.com/rc/clk?jk=d1baea582fe23...,Duties Once selected Customer Service Represen...,Duties Once selected Customer Service Represen...
146,Frederic H Weiner Inc.,weinermusic.com seeks data entry person. knowl...,job_f6cd5174d9b13c46,"Mineola, NY 11501",Data Entry Specialist,None,https://www.indeed.com/company/frederic-h-wein...,weinermusic.com seeks data entry person. knowl...,weinermusic.com seeks data entry person. knowl...
147,JATO,\n\n\nEmployment Type\n\n Full Time\n \n\n...,job_6174a3fa9721640e,Puerto Rico,Data Specialist,Estimated $47.2K - $59.8K a year,https://www.indeed.com/rc/clk?jk=6174a3fa97216...,Employment Type Full Time Location Country Pue...,Employment Type Full Time Location Country Pue...
148,Frankenmuth Mutual Insurance Co.,\nUnder direct supervision and following stand...,job_97fcd772a733a1f3,Remote in United States,CL Underwriting Support Representative I,None,https://www.indeed.com/rc/clk?jk=97fcd772a733a...,Under direct supervision following standard pr...,Under direct supervision following standard pr...
149,MBMS Medical Billing and Management Services,\nGrowing Medical Billing company looking for ...,job_696f8c102ebb4d3f,+2 locationsRemote,Data Analyst,Estimated $61.7K - $78.1K a year,https://www.indeed.com/rc/clk?jk=696f8c102ebb4...,Growing Medical Billing company looking highly...,Growing Medical Billing company looking highly...

## Selected skills for resume

In [ ]:
resume=['Engineering', 'Pyqt', 'Css', 'Prototype', 'Github', 'C++', 'Coding', 'Machine learning', 'C', 'Python', 'Api', 'Sci', 'Opencv', 'Modeling', 'Training', 'Analysis', 'Statistics', 'Keras', 'Programming', 'Design', 'Chemicals', 'Ui', 'Algorithms', 'Word', 'Database', 'Html', 'Testing']

In [ ]:
skills=[]
skills.append(' '.join(word for word in resume))

In [ ]:
skills

['Engineering Pyqt Css Prototype Github C++ Coding Machine learning C Python Api Sci Opencv Modeling Training Analysis Statistics Keras Programming Design Chemicals Ui Algorithms Word Database Html Testing']

## TF-IDF Vectorization

In [ ]:
import re

from ftfy import fix_text

def ngrams(string, n=3):
    string = fix_text(string) # fix text
    string = string.encode("ascii", errors="ignore").decode() 
    string = string.lower()
    chars_to_remove = [")","(",".","|","[","]","{","}","'"]
    rx = '[' + re.escape(''.join(chars_to_remove)) + ']'
    string = re.sub(rx, '', string)
    string = string.replace('&', 'and')
    string = string.replace(',', ' ')
    string = string.replace('-', ' ')
    string = string.title() # capital at start of each word
    string = re.sub(' +',' ',string).strip() # remove multiple spaces 
    string = ' '+ string +' ' 
    string = re.sub(r'[,-./]|\sBD',r'', string)
    ngrams = zip(*[string[i:] for i in range(n)])
    return [''.join(ngram) for ngram in ngrams]

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
import re

In [ ]:
vectorizer = TfidfVectorizer(min_df=1, analyzer=ngrams, lowercase=False)
vect_skills = vectorizer.fit_transform(skills)

## Match resume skills to job description using KNN

In [ ]:
from sklearn.neighbors import NearestNeighbors
nbrs = NearestNeighbors(n_neighbors=1, n_jobs=-1).fit(tfidf)
test_job = (df['test_job'].values.astype('U'))

In [ ]:

def getNearestN(query):
  queryTFIDF_ = vectorizer.transform(query)
  map_pos, indices = nbrs.kneighbors(queryTFIDF_)
  return map_pos, indices

In [ ]:
map_pos, indices = getNearestN(test_job)
test = list(test_job) 
match_ = []

In [ ]:
for i,j in enumerate(indices):
    dist=round(map_pos[i][0],2)
  
    temp = [dist]
    match_.append(temp)
    
match_ = pd.DataFrame(match_, columns=['Match confidence'])

In [ ]:
df['match']=match_['Match confidence']
df=df.sort_values('match')
df[['company_name','role','url','match']].head(10).reset_index()

,index,company_name,role,url,match
0,7,HALO Consulting,Data Scientist,https://www.indeed.com/company/HALO-Consulting...,0.68
1,103,CleanChoice Energy,Associate Data Scientist,https://www.indeed.com/company/Ethical-Electri...,0.68
2,64,SharkNinja,Data Scientist,https://www.indeed.com/rc/clk?jk=4eaaeb6358f3a...,0.70
3,94,StarRez,GRC Analyst,https://www.indeed.com/company/StarRez/jobs/Gr...,0.71
4,112,Dworo.io,Data Scientist,https://www.indeed.com/company/Dworo.io/jobs/D...,0.72
5,118,IBM,Cybersecurity Apprentice,https://www.indeed.com/rc/clk?jk=8f420f2dfc9e4...,0.72
6,71,Touch Support,Junior Accountant,https://www.indeed.com/company/Touch-Support/j...,0.73
7,105,LimnoTech,Environmental Data Scientist,https://www.indeed.com/company/LimnoTech/jobs/...,0.73
8,11,"Technical Resources International, Inc.",Data Scientist,https://www.indeed.com/rc/clk?jk=22ef4b24bece3...,0.73
9,15,Barnes & Noble,Editorial Assistant - Classics,https://www.indeed.com/rc/clk?jk=79b5ea33e2571...,0.74